
.header_text_cu {
    position: absolute;
    text-align: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font-size: 8px;
    width: 100%;
    line-height: 20px;
}
.header-curve-path {
 width: 100%;
}
.curve-header-wrapper {
  display: flex;
  align-items: center;
}
svg.highcharts-root {
  overflow: visible;
}
.text-header-text {
  font-size: 14px;
}
